doctype html
html
  head
    title.
      Image Gallery
    link(rel="icon", href="/images/favicon.ico")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Indie Flower')
    link(rel="stylesheet" href= "stylesheets/lightbox.css")
    link(rel="stylesheet" href= "stylesheets/mycss.css")
    link(rel="stylesheet" href= "stylesheets/flexslider.css")
    script(src= "javascripts/jquery-2.1.1.js")
    script(src= "javascripts/lightbox.js")
    script(src= "javascripts/jquery.flexslider.js")
    script(src= "javascripts/loadflexslider.js")
  body
    header
      .container
        h1.logo Image Gallery
        p.lead Share your favorite images.

    #containerSlide
      .flexslider
        ul(class="slides")
          li
            a(href="/anime")
              img(src="images/anime.jpg")
              p(class="flex-caption") Category: Anime 
          li
            a(href="/scenery")
              img(src="images/scenery.jpg")
              p(class="flex-caption") Category: Scenery 
          li
            a(href="/daily")
              img(src="images/daily.jpg")
              p(class="flex-caption") Category: Daily

    footer
      .container
        p
          a(href="http://www.yuigahame.com") Welcome to my Website
          br
