/* list */
.col-sm {
    width: 80%;
    margin: 0 auto;
}

#containerSlide {
  /* center */
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  /* position */
  display: block;
  position: relative;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  height: auto;
}

ul.slides {
  text-align: center;
}

.image-set ul {
  list-style-type: none;
  width: 500px;
}
 
.image-set li input {
    float: left;
    margin: 0 15px 0 0;
}

.image-set li img {
  float: left;
  margin: 0 15px 0 0;
  width: 100px;
}
 
.image-set li p {
  font-family: 'Indie Flower', serif;
  margin: 2px 0 0 0;
}
 
.image-set li {
  padding: 10px;
  overflow: auto;
}
 
.image-set li:hover {
  background: #eee;
  cursor: pointer;
}

.image-set ul {
    position: relative;
    text-align: left;
}

/* core */

html {
    background: #fff;
    color: #000;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

header {
    display: block;
    padding: 1.5rem 0;
    background-color: #F8EFE1;
    text-align: center;
    overflow: auto;
}

header p {
    text-align: center;
}

footer {
    padding: 2rem 0;
    background-color: #82AFF9;
    text-align: center;
    font-family: 'Indie Flower', serif;
}

footer p {
    text-align: center
}

footer .button {
    margin-top: 0.5rem
}

h1.logo {
    color: #9A3334;
    line-height: 1.2em;
    font-family: 'Indie Flower', serif;
    font-weight: 800;
    font-size: 4.5rem;
    margin: 0 0 0.2em 0;
}

.lead {
    color: #9A3334;
    max-width: 45rem;
    font-size: 1.5rem;
    font-family: 'Indie Flower', serif;
}

div#one {
    float: left;
    width: 33%;
    margin-left: 15%;
}
div#two {
    float: right;
    width: 33%;
    margin-right: 15%;
}

img#blah, img#blah_url {
    height: 120px;
}

.formlead {
    color: #772354;
    max-width: 45rem;
    font-size: 2.3rem;
    font-family: 'Indie Flower', serif;
}

.image-set {
    display: block;
    padding: 2rem 0;
    background-color: #29264E;
    text-align: center
}

wrapper {
    display: block;
    width: 85%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.item {
    margin-bottom: 7px;
}

.pin {
    padding: 0px 0 0px 0;
    width: 258px;
    text-align: center;
    background-color: #EAEEF3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.pin .des {
    padding: 3px 7px 3px 9px;
    margin: 0 auto;
    text-align: left;
}

.pin .des p {
    margin: 0 auto;
    font-size: 11px;
    font-family: ;
}

.pin .des p.ptitle {
    margin: 0 auto;
    font-size: 12px;
    font-family: 'Helvetica Neue','Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',arial,sans-serif;
}


.pin .single-image {
    margin: 0 auto;
}

.pin .single-image img {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    max-width: 100%;
    max-height: 100%;
    /* box-shadow: 3px 3px 2px #ccc; */
}


.container {
    margin: 0 auto;
    max-width: 40rem;
    width: 90%;
}

.button {
    display: block;
    padding: 0.7rem 2rem;
    margin-bottom: 0.5rem;
    border: none;
    color: #fff;
    background-color: #4ae;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
    white-space: nowrap
}

.button:hover {
    background: #1595ea;
    text-decoration: none
}

@media (min-width: 20rem) {
    .button {
        display:inline-block;
        margin: 0 0.25rem
    }
}

a {
    color: #FF6600;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a:focus {
    outline: thin dotted
}

a:active,a:hover {
    outline: 0
}
